---
layout: default
title: Metapoch
carousel:
  - img: http://imgur.com/9HXnahO
    alt: Mountain Plains
  - img: http://imgur.com/PlvFMHK
    alt: Winter Yard
  - img: http://imgur.com/AUAkjWN
    alt: Chibi Person
---
<div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
       {% for item in page.my_array %}
        <li data-target="#myCarousel" data-slide-to="{{ forloop.index }}" {% if forloop.index==1 %} class="active" {% else %} class="" {% endif %}></li>
      {% endfor %} 
      </ol>
      <div class="carousel-inner" role="listbox">
        {% for carousel in page.carousels %}
        <div class="item">
          <img class="img-responsive center-block" style="margin: 0 auto;" src="{{ carousel.img }}" alt="{{ carousel.alt }}">
        </div>
        {% endfor %}
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
</div>